
html, body
{
  background-color: #343434;
  color: #FFF;
}

h1
{
  padding: 0px;
  margin: 8px;
  font-size: 40px;
  font-family: 'Exo 2', sans-serif;
}

h2
{
  padding: 0px;
  margin: 6px;
  font-size: 30px;
  font-family: 'Exo 2', sans-serif;
}

h3
{
  padding: 0px;
  margin: 4px;
  font-size: 20px;
  font-family: 'Exo 2', sans-serif;
}

p
{
  padding: 0px;
  margin: 3px;
  font-size: 16px;
  font-family: 'Average', serif;
}

#sidebar
{
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0px;
  min-width: 200px;
  /*width: 14.65%;*/
  background-color: #D2D2D2;
  color: #000;
}

#main
{
  margin-left: 200px;
  padding-left: 8px;
  padding-right: 8px;
  float: left;
  background-color: #343434;
  color: #EEE;
}

.sidebar-text
{
  text-align: center;
  text-shadow: 1px 1px 10px #0005;
}

.logo-text
{
  text-align: center;
  color: #ff3071;
  text-shadow: 0px 0px 1px #ff3071;
  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.logo-text-smaller
{
  text-align: center;
  color: #ff3071;
  text-shadow: 0px 0px 1px #ff3071;
  font-size: 24px;
  margin-top: 0px;
  margin-bottom: 5px;
}

.sidebar-button
{
  margin-left: 0px;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 5px;
}

button
{
  font-family: 'Exo 2', sans-serif;
  font-size: 16px;
  height: 32px;
  border-radius: 16px;
  border-color: magenta;
  background: #ff3071;
  color: white;
}

button:hover
{
  background: white;
  color: black;
}
