*
{
  margin: 0;
  padding: 0;
  border: 0;
}

#header
{
  width: 100vw;
  height: 60px;
  background-image: linear-gradient(to right, #4a4, #44a);
  box-shadow: 0 0 2px black;
}

#logo
{
  text-align: center;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  font-family:'Average Sans', sans-serif;
  width: 100%;
  line-height: 60px;
  color: white;
}

.card
{
  margin: 8px;
  width: calc(50vw - 16px);
  height: 400px;
  background-color: #ddd;
  box-shadow: 0 0 4px black;
  transition: 0.3s;
}

.card:hover
{
  background-color: #eee;
  transition: 0.3s;
}

.left
{
  float: left;
}

.right
{
  float: right;
}
